@import "tailwindcss";

:root {
  --background: #f8fafc; /* gray-50 equivalent */
  --foreground: #0f172a; /* slate-900 equivalent */
  --surface: #ffffff;
  --border: #e2e8f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-border-custom: var(--border);

  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);

  --color-primary-50: var(--color-blue-50);
  --color-primary-100: var(--color-blue-100);
  --color-primary-200: var(--color-blue-200);
  --color-primary-300: var(--color-blue-300);
  --color-primary-400: var(--color-blue-400);
  --color-primary-500: var(--color-blue-500);
  --color-primary-600: var(--color-blue-600); /* Warna tombol utama */
  --color-primary-700: var(--color-blue-700);
  --color-primary-800: var(--color-blue-800);
  --color-primary-900: var(--color-blue-900);
  --color-primary-950: var(--color-blue-950);
  /* --- 2. DANGER COLOR (Untuk Hapus/Error: Merah) --- */
  --color-danger-50: var(--color-red-50);
  --color-danger-100: var(--color-red-100);
  --color-danger-200: var(--color-red-200);
  --color-danger-300: var(--color-red-300);
  --color-danger-400: var(--color-red-400);
  --color-danger-500: var(--color-red-500);
  --color-danger-600: var(--color-red-600);
  --color-danger-700: var(--color-red-700);
  --color-danger-800: var(--color-red-800);
  --color-danger-900: var(--color-red-900);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617; /* slate-950 equivalent */
    --foreground: #f8fafc; /* slate-50 equivalent */
    --surface: #0f172a; /* slate-900 equivalent */
    --border: #1e293b; /* slate-800 equivalent */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist), Arial, Helvetica, sans-serif;
}

